{
  "development": {
    "username": "root",
    "password": null,
    "database": "database_development",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorsAliases": false,
    "poolLimit": 10,
    "deployment": {
      "processes": 1,
      "port": 3000
    },
    "defaultCoin": {
      "name": "Universal Coin",
      "symbol": "μ"
    }
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorsAliases": false,
    "poolLimit": 10,
    "deployment": {
      "processes": 1,
      "port": 3000
    },
    "defaultCoin": {
      "name": "Universal Coin",
      "symbol": "μ"
    }
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql",
    "operatorsAliases": false,
    "poolLimit": 10,
    "deployment": {
      "processes": 1,
      "port": 3000
    },
    "defaultCoin": {
      "name": "Universal Coin",
      "symbol": "μ"
    }
  }
}
